[build]
  publish = "."

[functions]
  external_node_modules = ["express", "stripe"]
  node_bundler = "esbuild"
  
[[redirects]]
  force = true
  from = "/api/*"
  status = 200
  to = "/.netlify/functions/api/:splat"

